<div class="contents row">
<% @article_blogs.each do |article| %>
<div class="content_post" style="background-image: url(<%= article.image %>);">
        <%= simple_format(article.text) %>
        <span class="name"><%= article.name %></span>
      </div>
<% end %>
<%= paginate(@article_blogs) %>
</div>