<div class="contents row">
  <%= form_with model:@article do %>
      <div>
        <label>Message:</label>
        <textarea placeholder="Message"  name="text"></textarea>
      </div>
      <div>
        <input type="submit">
      </div>
    </form>
  
    <% end %>
</div>